@tailwind base;
@tailwind components;
@tailwind utilities;


/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #0000;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #363636;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #444;
  }